* {margin:0;padding:0;box-sizing:border-box;}
body {
  color: #222;
  font-family: 'Raleway', sans-serif;
}
section {
  padding:5em 0;
  border:1px solid;
}
h1,h2 {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 1.5em;
}
#slogan {
  margin-top:3%;
  text-align: center;
  color: #D6D0E5;
  font-style: oblique;
  text-transform: uppercase;
}
p,h3 {
  padding: 0 10%;
  font-size: 1.2em;
}

p {
  font-weight: 100;
  line-height: 1.7em;

}
hr {
  width: 70%;
}
#splash {
  background: linear-gradient(rgba(23, 24, 28, 0.7), rgba(23, 24, 28, 0.9)),url("../images/background.jpg");
  background-size: cover;
  color: #EEE7FF;
  padding: 20em 0 0;
  height: 80vh;
}
#splash h1 {
  border-radius: 15px 0 15px 0;
  background: #D5D7FF;
  padding: 40px;
  margin: 0 auto;
  display: block;
  width: 40%;
  color: #34377F;
  font-size: 3.5em;
}
